# MySQL et Python

## Organisation

Créez les dossiers suivants :

- dataAnalyse
- sauvegarde

Respectivement vous placerez les scripts, notebooks et fichiers SQL dans le dossier dataAnalyse.
Le dossier sauvegarde contiendra le dump de la base de données et d'autre sauvegardes.

In [17]:
import mysql.connector
from mysql.connector import errorcode

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Antoine"
)

# connecteur
cursor = db.cursor()
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [18]:
DB_NAME='db_aviation_analyst'

# Par exemple on peut créer une base de données
cursor.execute(
  "CREATE DATABASE IF NOT EXISTS {} DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;".format(DB_NAME)
)

In [19]:
# connexion à la base de données
DB_NAME='db_aviation'
cursor.execute("USE {}".format(DB_NAME))

Dans le terminale ou dans la console récupérer les données du dump de votre base de données et insérer ces données dans la base de données **db_aviation_analyst**.

Placez-vous dans le dossier 

```bash
# execution du dump
# Faites un dump avant et placez-le dans le dossier notebook
mysqldump -u root -p db_aviation > dump_aviation_analyst.sql

# Dans le terminale
mysql -u root -p --database db_aviation_analyst < dump_aviation_analyst.sql

```

In [20]:
# execution du dump
# Faites un dump avant et placez-le dans le dossier notebook
# mysqldump -u root -p db_aviation > dump_aviation_analyst.sql

"""
with open('dump_aviation_analyst.sql') as f:
    cursor.execute(f.read(), multi=True)
"""

"\nwith open('dump_aviation_analyst.sql') as f:\n    cursor.execute(f.read(), multi=True)\n"

In [24]:
query = ("SELECT name, certificate FROM pilots")

cursor.execute(query)

for (name, certificate) in cursor:
  print("{}, certificat : {}".format(
    name, certificate) )

#cursor.close()
#cnx.close()

Alan, certificat : ct-1
Albert, certificat : ct-12
Benoit, certificat : ct-56
Harry, certificat : ct-19
Jhon, certificat : ct-6
Pierre, certificat : ct-7
Sophie, certificat : ct-11
Tom, certificat : ct-10
Yan, certificat : ct-16
Yi, certificat : ct-100

Trouvez toute(s) les/la compagnie(s) n'ayant pas de pilotes.

In [29]:

query ="SELECT numStreet, street, city" \
"FROM compagnies" \
"WHERE comp NOT IN (" \
"SELECT compagny FROM pilots" \
")"

cursor.execute(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'comp NOT IN (SELECT compagny FROM pilots)' at line 1